.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 4px;
  min-width: 0;
  padding: 8px;
}
.searchInputFeld {
  background: rgba(255, 255, 255, 0.8999999761581421);
  box-shadow: inset 0px 0px 0px 1px rgba(41, 41, 41, 0.019999999552965164);
  filter: drop-shadow(0px 16px 22px rgba(0, 0, 0, 0.07999999821186066))
    drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.03999999910593033));
  width: 560px;
  height: 64px;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 36px;
  padding: 8px 8px 8px 28px;
}
.text {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  justify-content: flex-start;
}
.text__jssl5 {
  display: block;
  font-size: 17px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 25px;
  color: rgba(41, 41, 41, 1);
  position: relative;
}
.textInput:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__tTiv0 {
  display: block;
  position: relative;
  width: 0px;
  height: 28px;
  flex-shrink: 0;
}
.img {
  object-fit: cover;
  max-width: 100%;
  transform: rotate(90deg);
  width: 28px;
  height: 3px;
  display: block;
  transform-origin: top left;
  position: absolute;
  left: 0px;
  top: 0px;
}
.img > picture > img {
  object-fit: cover;
}
.searchButton {
  background: rgba(41, 41, 41, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 44px;
  padding: 12px;
}
.freeBox__maS0Z {
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  overflow: hidden;
  left: 0px;
  top: 0px;
}
.errorMessage {
  font-family: "Nunito Sans", sans-serif;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-8dHZNKgzL8aW);
  min-width: 0;
}
