.ariaTextField:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  row-gap: var(--token-A0kE8XnBGicK);
  min-width: 0;
}
.ariaTextField[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.label:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox__r2XhH {
  display: flex;
  flex-direction: column;
}
.freeBox__bkWMm {
  flex-direction: row;
  position: absolute;
  height: var(--token-qeJMyutzp5r0);
  align-items: center;
  justify-content: center;
  z-index: 9;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-SFiY9yS-y7mS) var(--token-_wXpW_iuJsy1);
}
.freeBoxiconStart__bkWMmvj7Av {
  display: flex;
}
.slotTargetStart {
  color: var(--token-jHE2g5Fi0KbU);
}
.svg__ewTcy {
  position: relative;
  height: 1em;
}
.textAreaInputmultiLine:global(.__wab_instance):global(.__wab_instance) {
  display: block;
}
.freeBox___7WAw3 {
  height: var(--token-qeJMyutzp5r0);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-SFiY9yS-y7mS) var(--token-_wXpW_iuJsy1);
}
.freeBoxiconEnd___7WAw3XTc1 {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-jHE2g5Fi0KbU);
}
.svg__g4YEr {
  position: relative;
  height: 1em;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
